@import url(nullstyle.css);

/* ========================================== */
/* Body and other main element                */
/* ========================================== */

body {
	background-color: #09121a;
	padding: 70px;
	min-height: 100%;
}

.main__container {
	display: grid;
	grid-template-columns: [header] .5fr [content] 2.25fr [menu] .25fr;
	grid-auto-rows: 80vh;
}

.header {
	background-color: #0e1d29;
}

.main {
	margin: 0px 20px 0px 20px;
}

.footer {
	background-color: #132637;
}

/* ========================================== */
/* Header and menu                            */
/* ========================================== */

.header__container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.header__main__item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 35%;
	background-color: #25323d;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 20px 20px 20px;
}

.header__main__item__photo {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #fff;
	top: -10%;
	overflow: hidden;
	outline: 2px solid #1B2C3B;
	margin: 0px 0px 10px 0px;
}

.header__main__item__photo img {
	position: relative;
	top: -10%;
	transform: scale(1.2);
}

.header__main__item__profile {
	position: relative;
}

.header__dat {
	position: absolute;
	bottom: 25px;
	right: 5px;
	background-color: #F9C808;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgb(227, 216, 16);
	animation: pulse-dat 2s infinite;
	cursor: pointer;
}

.header__main__item__order {
	opacity: 0;
	transition: all ease-in-out .4s 0s;
	position: relative;
	z-index: 10;
}

.header__main__item__messeng {
	position: absolute;
	bottom: 0;
	right: -140px;
	background-color: #020405;
	width: 140px;
	height: 40px;

	opacity: .6;
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 11.5px;
	letter-spacing: 1px;
	font-weight: 400;
	padding: 5px 5px 5px 5px;
	z-index: 20;
}

.header__main__item__messeng p {
	opacity: 1;
}

.header__main__item__content {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
}

.header__main__item__title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 16px;
	margin: 0px 0px 7.5px 0px;
	letter-spacing: 1px;
}

.header__main__item__title a {
	text-decoration: none;
	color: #fff;
	transition: all ease-in-out .4s 0s;
}

.header__main__item__subtitle {

	opacity: .5;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
}

/* ========================================== */
/* Header: Content                            */
/* ========================================== */

.header__content {
	position: relative;
	top: 35%;
	width: 100%;
	height: 100%;
	overflow: scroll;
	padding: 40px 30px 40px 30px;
}

.header__content::-webkit-scrollbar {
	display: none;
}

.header__content__bio {
	font-family: 'Open Sans', sans-serif;
}

.header__content__bio p {
	color: #fff;
	text-align: justify;
	-moz-text-align-last: justify;
	text-align-last: justify;
	letter-spacing: 1px;
	margin: 0px 0px 10px 0px;
	font-weight: 500;
	font-size: 12px;
}

.header__content__bio p span {
	opacity: 0.6;
	font-weight: 400;
}

.header__content__bio p:last-child {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 20px 0px;
	border-bottom: .75px solid rgba(255, 255, 255, 0.372);
}

/* ========================================== */
/* Header: Footer                             */
/* ========================================== */

.header__footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8.5%;
	background-color: #25323d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__footer__social {
	display: flex;
}

.header__footer__social a {
	margin: 0px 10px 0px 0px;
	opacity: .4;
	transition: all ease-in-out .4s 0s;
}

.header__footer__social a:last-child {
	margin: 0px 0px 0px 0px;
}

.header__footer__social img {
	height: 18.5px;
}

.header__lang p {
	padding: 20px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: #fff;
	letter-spacing: 1px;
	font-size: 12px;
}

.header__speed__bar {
	display: flex;
}


.header__content__languages {
	width: 80px;
	height: 80px;
	background-color: #0e1d29;
	position: relative;
	top: 10px;
	border-radius: 10px;
	display: grid;
	place-items: center;
}

.circular__progress {
	position: relative;
	width: 60px;
	height: 60px;
	background: #F9C808;
	border-radius: 50%;
	display: grid;
	place-items: center;
}

.circular__progress::before {
	content: "";
	position: absolute;
	height: 80%;
	width: 80%;
	background-color: #0e1d29;
	border-radius: 50%;
}


.value__container {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 12px;
	color: #ffffff95;
	position: relative;
}

.header__content__languages .name__lang {
	font-family: 'Raleway', sans-serif;
}

.header__lang {
	border-bottom: .75px solid rgba(255, 255, 255, 0.372);
	padding: 0px 0px 50px 0px;
}


/* ========================================== */
/* Header: Hover and active                   */
/* ========================================== */

.header__dat:hover+.header__main__item__order {
	opacity: 1;

}

.header__footer__social a:hover {
	opacity: 0.8;
}

.header__main__item__title a:hover {
	color: #F9C808;
}

/* ========================================== */
/* Header: KeyFrames                          */
/* ========================================== */
@keyframes pulse-dat {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(227, 216, 16);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}